.mat-table {
  display: block;
}

.mat-row,
.mat-header-row {
  display: flex;
  align-items: center;
}

.mat-cell,
.mat-header-cell {
  border-width: 1px;
  border-style: solid;
  flex: 1;
  overflow: hidden;
  word-wrap: break-word;
  min-height: 2em;
}

.map-unknown {
  background-color: green;
}

.map-visited {
  background-color: yellowgreen;
}

.map-obstacle {
  background-color: indianred;
}

.map-bomb {
  background-color: darkred;
}

.map-robot {
  background-color: black;
}

.legend {
  margin-top: 1em;
}

.legend > div > div > div {
  text-align: center;
}