<!--The content below is only a placeholder and can be replaced.-->
<div style="text-:center">
  <h1>
      Robot Control Page
  </h1>
</div>

<div [ngStyle]="{'background-color':'lightyellow'}" 
  style="border-style: solid;;height: 140px;" 
  id="side">
  <h3>Information</h3>
  <script>
      angular.module('textInputExample', [])
        .controller('ExampleController', ['$scope', function($scope) {
          $scope.example = {
            text: '',
            word: /^\s*\w*\s*$/
          };
        }]);
    </script>
    <form name="myForm" ng-controller="ExampleController">
      <label>Temperature:
        <input type="text" name="input" ng-model="example.text"
               ng-pattern="example.word" required ng-trim="false">
      </label>
    </form>
  <p>Sonar info:
</div>

<div [ngStyle]="{'background-color':'lightgreen'}" 
  style="border-style: solid;height: 140px;"
  id="side">
  <h3>Application robot control</h3>
  <button mat-button>EXPLORE</button>
  <p></p>
  <button mat-button>HALT</button>
</div>

<p>
<div [ngStyle]="{'background-color':''}" 
  style="border-style: solid; height: 610px;"
  id="middle">
  <h3>Map</h3>
</div>


<router-outlet></router-outlet>
